* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    --main-color: #9c0824;
    --bg-color: #fffbf5;
    --accent-color: #ded29d;
}

/* Header Styling */

header {
  flex: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  background-image: url("./city.png");
  background-position: -180px -180px;
  background-size: 360px 360px;
  background-repeat: no-repeat;
  box-shadow: inset 0 -1px 1px rgba(60, 60, 60, 0.5);
}

header .name {
  font-family: "Allison";
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 1.5px 1.5px 2px rgba(60, 60, 60, 0.5);
  color: var(--main-color);
}

header > nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}

header button {
    font-size: 1.5rem;
    border: 0;
    border-radius: 12px 12px 0 0;
    width: 8rem;
    height: 3rem;
    background-color: var(--main-color);
    color: var(--bg-color);
}

header button:not(.open) {
    box-shadow: inset 0 -2px 2px rgba(60, 60, 60, 0.5);
}

header .open {
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 1px -1px 1px rgba(60, 60, 60, 0.5);
}

#content {
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
    background-image: url("./philippines.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}

/* Main Content Styling */
.main-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 800px;
    height: 100%;

    padding: 2rem 5rem;
}

.tag-line {
    text-align: center;
    color: var(--main-color);
    font-size: 3rem;
    font-family: "Trebuchet MS";
}

.pi-flag-icon {
    width: 150px;
    height: auto;
}

.info-container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 3fr;
    align-items: center;

    background-color: rgb(80, 52, 52);
    color: var(--bg-color);
    width: 350px;
    padding: 20px 50px;
    border-radius: 25px;
}

.address {
    font-weight: 500;
    grid-row: 1 / 2;
}

.hours-label {
    grid-row: 3 / 4;
    text-decoration: underline;
    justify-self: center;
}

.hours {
    grid-row: 4 / 5;
}

.info-container li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/* Menu Tab Styling */
.menu-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(75, 74, 74, 0.503);
    width: 12rem;
    height: 4rem;
}